dist: xenial
sudo: required
services:
  - docker
language: bash
before_script:
  # Upgrade Docker and enable experimental mode
  - curl -fsSL https://get.docker.com | sh
  - echo '{"experimental":true}' | sudo tee /etc/docker/daemon.json
  - mkdir $HOME/.docker
  - touch $HOME/.docker/config.json
  - echo '{"experimental":"enabled"}' | sudo tee $HOME/.docker/config.json
  - sudo service docker start
  - docker info
  - docker version
script:
  # Enable multi-architecture containers using QEMU
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  - docker buildx create --name xbuilder --use
  # Login to Docker Hub and configure push behaviour if we are on master
  - >
    if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
      echo "$DOCKER_PASS" | docker login -u ${DOCKER_USER} --password-stdin
      dopush="--push"
    fi
  # Build the latest stable MagicMirror release
  - ./build.sh ${dopush}
after_script:
  - docker logout
